/* top banner style */
header {
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0.54), rgba(0, 0, 0, 100)), url('images/football.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  color: white;
  margin-bottom: 100px;
}
.banner-item{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-item h1 {
  color: #f2aa4cff;
}
.btn-select:disabled {
  background-color: gray;
}